body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #3498db;
    padding: 15px;
    color: #fff;
    text-align: center;
}

nav {
    background-color: #2980b9;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

section {
    padding: 20px;
}

h2{
    text-align: center;
}

.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}

.horizontal-scroll img {
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add more styles as needed */