body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding: 0;
}


header {
    background-color: #239BBD;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
}


.navImg {
    width: 200px; /* Adjust the size of your logo */
    height: 150px; /* Adjust the size of your logo */
    position:absolute;
    display: flex;
    left: 0;
    top: 0;
    margin-top: 0;
}


nav {
    background-color: #239BBD;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: medium;
}


nav a {
    color: #fff;
    text-decoration: none;
    padding: 28px;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 20px; /* Adjust font size as needed */
    
}

nav a:hover {
    text-decoration: underline;
  }


section {
    padding: 10px;
    text-align: center;
}


.exit-bubble {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}


.horizontal-scroll img {
    display: inline-block;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Change the color of the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}


/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #193C80; /* Set the color of the scrollbar handle */
    border-radius: 6px; /* Set the border radius of the scrollbar handle */
}


/* Track */
::-webkit-scrollbar-track {
    background-color: #239BBD; /* Set the color of the scrollbar track */
    border-radius: 6px;
}


.image-card {
    float: left;
    text-align: center;
    width: 500px;
    height: 300px;
    margin-right: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow:unset;
    flex: 0 0 auto; /* Prevent cards from growing to fill the container */
    margin-right: 80px; /* Adjust margin as needed */
    margin-bottom: 30px;
}


.image-card img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20px;
}


.image-container {
    display:flex;
    overflow-x: auto; /* Enable horizontal scroll */
    height: 410px;
    margin-bottom: 100px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #239BBD; /* Adjust background color as needed */
    color: white; /* Adjust text color as needed */
    text-align: center;
    padding: 10px;
}

.container {
    position:absolute;
    left: 15vw;
    top: 170px;
    width: 40vw;
    height: 60vh;
    background: #fff;
    text-align: center;
}

.container2 {
    position:absolute;
    display: inherit;
    left: 55vw;
    top: 170px;
    width: 40vw;
    height: 60vh;
    background: #fff;
    text-align: center;
}
.map {
    position: left;
    display: inline-flex;
    margin-left: 900px;
    height: 79vh;
}

.form .input-box {
    position: absolute;
    display: flex;
    margin-top: 20px;
    align-items: baseline;
  }
  .input-box label {
    color: #333;
  }

button {
    height: 40px;
    width: 30%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #239BBD;
    border-radius: 15px;
  }

  button:hover {
    background: #F3BB33;
  }
  .button-overlay {
    position: relative;
    display: inline-block;
    }
    .button-overlay button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .BackImg {
    background: url("Images/frame 2.3 - booking confirmed.png") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100vw;
}